# Ignore everything
*

# Don't ignore these
!*/
!/readme.md
!.gitignore
!Capstone/**/*.java
!Capstone/**/*.jsp
!Capstone/**/*.css
!Capstone/**/*.db
!Capstone/**/*.png
!Capstone/**/*.jpg
!Capstone/**/*.jpeg
!Capstone/**/*.txt
!Capstone/WebContent/WEB-INF/lib/*.jar
!Capstone/WebContent/images/*.*
!Capstone/TestingUtils/*.*
!Servers/Tomcat-config/web.xml
!docs/**/*.*
/bin/
/.metadata/