.eventContainer {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    color: black;
}

#current-event {
	color: white;
}

.event > .currentEventHeader {
	width: fit-content;
	margin: auto;
	font-weight: 600;
}

.event > .row > .col-sm-9 > button {
	width: 150px;
	height: 48px;
	margin-top: -28px;
}

.rainbowBorder {
	position: relative;
	background: linear-gradient(0deg, #000, #272727);
}

.rainbowBorder:before, .rainbowBorder:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.rainbowBorder:after {
	filter: blur(50px);
}

.scrolling-wrapper {
	overflow-x: scroll;
  	overflow-y: hidden;
  	white-space: nowrap;
  	width: fit-content;
  	max-width: 953px;
}

.scrolling-wrapper > .card {
	display: inline-block;
	word-break: break-word;
	white-space: normal;
	margin: 0px 10px !important;
}

#past-events > button {
	outline: none;
}