body,
.dark {
	background-color: #222;
	color: #e6e6e6;
	border-color: #e6e6e6;
}
#allNavBar {
	margin-bottom: 60px;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}