.indvTabs {
	border: solid 1px black;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    background-color: #F2F3F4;
    width: 178px;
    text-align: center;
    vertical-align: middle;
}
.indvTabs a {
	color: black !important;
	font-size: 20px;
	padding: 6px;
}
.indvTabs form input {
	margin: auto;
	width: 176px;
	color: black !important;
	height: 100%;
	font-size: 20px;
	padding: 0px;
}
.indvTabs form {
	height: 100%;
}
#subNavBar {
	float: right;
	width: auto;
	padding: 0px;
	margin-right: 1rem;
	background-color: transparent !important;
	height: 44px;
}
#subNavBar div, #subNavBar div ul {
	height: 100%;
}